<p id="notice"><%= notice %></p>

<h1>Posts</h1>

<table>
  <thead>
    <tr>
      <th>Username</th>
      <th>Password</th>
      <th>Nom</th>
      <th>Prenom</th>
      <th>Nationalite</th>
      <th>Daten</th>
      <th>Epouse</th>
      <th>Enfants</th>
      <th>Expresident</th>
      <th>Bio</th>
      <th>Partie</th>
      <th>Sexe</th>
      <th>Datef</th>
      <th>Datec</th>
      <th>Age</th>
      <th>Expp</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.username %></td>
        <td><%= post.password %></td>
        <td><%= post.nom %></td>
        <td><%= post.prenom %></td>
        <td><%= post.nationalite %></td>
        <td><%= post.dateN %></td>
        <td><%= post.epouse %></td>
        <td><%= post.enfants %></td>
        <td><%= post.expresident %></td>
        <td><%= post.bio %></td>
        <td><%= post.partie %></td>
        <td><%= post.sexe %></td>
        <td><%= post.dateF %></td>
        <td><%= post.dateC %></td>
        <td><%= post.age %></td>
        <td><%= post.expP %></td>
        <td><%= link_to 'Show', post %></td>
        <td><%= link_to 'Edit', edit_post_path(post) %></td>
        <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Post', new_post_path %>
