<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @post.username %>
</p>

<p>
  <strong>Password:</strong>
  <%= @post.password %>
</p>

<p>
  <strong>Nom:</strong>
  <%= @post.nom %>
</p>

<p>
  <strong>Prenom:</strong>
  <%= @post.prenom %>
</p>

<p>
  <strong>Nationalite:</strong>
  <%= @post.nationalite %>
</p>

<p>
  <strong>Daten:</strong>
  <%= @post.dateN %>
</p>

<p>
  <strong>Epouse:</strong>
  <%= @post.epouse %>
</p>

<p>
  <strong>Enfants:</strong>
  <%= @post.enfants %>
</p>

<p>
  <strong>Expresident:</strong>
  <%= @post.expresident %>
</p>

<p>
  <strong>Bio:</strong>
  <%= @post.bio %>
</p>

<p>
  <strong>Partie:</strong>
  <%= @post.partie %>
</p>

<p>
  <strong>Sexe:</strong>
  <%= @post.sexe %>
</p>

<p>
  <strong>Datef:</strong>
  <%= @post.dateF %>
</p>

<p>
  <strong>Datec:</strong>
  <%= @post.dateC %>
</p>

<p>
  <strong>Age:</strong>
  <%= @post.age %>
</p>

<p>
  <strong>Expp:</strong>
  <%= @post.expP %>
</p>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
